// Import all of Bootstrap's CSS
@import "./node_modules/bootstrap/scss/bootstrap";

#container {
    padding: 10px;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px auto 50px;
    display: block;
}

#header{
    background: $blue;
    text-align: center;
    padding: 10px;
}

#description{
    height: fit-content;
    text-align: center;
    padding: 10px;
}

#main{
    padding: 10px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
}

#map{
    grid-column: 1/2;
    padding: 10px;
    text-align: center;
    border: solid #000;
}

#main-right{
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#legende{
    grid-row: 1/2;
}

#risk{
    border: solid #000;
}

#focus{
    background: rgb(130, 255, 148);
    text-align: center;
}

#foot{
    background: #6096B4;
}

#button{
    width:fit-content;
}
